*{
    /*includes the padding and border in an element's total width and height
    othewise it can get wonky*/
    box-sizing: border-box;

    font-size: 20px;
    
}

.calculator{
    margin: auto; /* centers inside the page*/
    width: 500px;
    height: 600px;
    background-color:#4b58e9 ;
    border: 1px black solid; /* used for visual refs. remove later */
   



}
.calc-input-box{
    background-color: #f5f0f3;
    width: 100%; /* fills width based on the parent width (.calculator)*/
    height: 65%;
    border: 1px black solid;
}

input[type=button]{
    background-color:#e94b4b;
    color: #f5f0f3;
    width: 95%;
    height: 70%;
   box-shadow: none;
   border-radius: 1em;
}

input:active[type=button]{
    background-color: azure;
    color: #e94b4b;
    width: 95%;
    height: 70%;

}

#total-btn{
    background-color:azure;
    width: 100%;
    color: #e94b4b;
}
#total-btn:active{
    background-color: #e94b4b;
    color: azure;
    width: 100%;
}

